@charset "UTF-8"

html{
  font-size: 100%;
}
body{
  background-image: url(背景_春.png);
  background-repeat: repeat;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "YuGothic", "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
.logo{
  width: 300px;
  margin-top: 14px;
}
.main-nav{
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}
.main-nav li{
  margin-left: 24px;
}
.main-nav a{
  color: #432;
}
.main-nav a:hover{
  color: #0bd;
}
.pageheader{
  display: flex;
  justify-content: space-between;
}
.wrapper{
  max-width: 1800px;
  margin: auto;
  padding: 0 4%;
}
.home-content{
  text-align: center;
  color: black;
  margin-top: 0px;
}
.home-content p{
  font-size: 1.5rem;
  margin: 10px 0 42px;
}
.page-title{
  font-size: 5rem;
  font-family: 'Philosopher',serif;
  text-transform: uppercase;
  font-weight: normal;
}
.big-bg{
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#home{
  background-image: url(Header.jpg);
  height: 300px;
  margin-bottom: 40px;
}
footer{
  background: #432;
  text-align: center;
  padding: 30px 0;
}

footer p{
  color: #ddd;
  font-size: 1.25rem;
}
.post-info{
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}
.post-date{
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top:0;
  padding-top: 10px;
}
.post-date span{
  font-size: 1rem;
  border-top: 1px rgba(255,255,255,.5) solid;
  padding-top: 6px;
  display: block;
  width: 60%;
  margin:0 auto;
}
.post-title{
  font-family: "Yu incho", "YuMincho", serif;
  font-size: 2rem;
  font-weight: normal;
}
.post-title,
.post-cat{
  margin-left: 120px;
}
article img{
  margin-bottom: 20px;
}
.post-date-old{
  background: #0bd;
  border-radius: 50%;
  color: #fff;
  width: 80px;
  height:80px;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  top:0;
  padding-top: 20px;
}
.post-old{
  font-family: "Yu Mincho", "YuMincho",serif;
  font-size: 2rem;
  font-weight: normal;
  position: relative;
  margin-left: 10px;
}
.flex{
  display: flex;
  align-items: center;
}
.item{

}
.grid{
  display: grid;
  gap:26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 2%;
  margin-bottom: 50px;
}
